.dot circle {
    /*fill: #2381b3;*/
    opacity: 1;
}

.dot text {
    text-anchor: middle;
    font-size: 10px;
    pointer-events: none;
    fill: #555;
    opacity: 0;
}

body {
    font-family: 'Josefin Sans';
    margin: 0;
    background-color:"#FEFBF4";
}

label {
    font-size: 13px;
}

#main {
    margin: 20px;
}

.dot:hover text {
    opacity: 1;
    font-size: 20px;
}

.dot:hover circle{
    fill:orange;
    stroke: black;
    stroke-width: 2px;
}


.lrect:hover {
    stroke: black;
    stroke-width: 4px;
}


.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

#wordcloud {
    position: absolute;
    right: 8%;
}

.tick text{
    font-size: 12px;
}

hr {
    border: none;
    height: 10px;
    /* Set the hr color */
    background-color: silver; 
}

.button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    text-decoration: none;
  }

.button.active {
    background: #000;
    color: #fff;
 }

 .selected {
    fill: none;
  }

#metainfo{
     left: 50%;
    right: 50%;
  }

#WordCloudError{
    position: absolute; 
    fill:#ffffff;
    right: 8%;
    top: 700px;
    width: 100px;
    height: 100px;
}

#title {
    background-color: floralwhite;
    color: black;
    width: 100%;
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    vertical-align: center;
}
